/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    padding: 60px 0;
    background-color: #1f1f1f;
}

header h1 {
    font-size: 3.5em;
    color: #fff;
}

header p {
    font-size: 1.4em;
    color: #ccc;
}

/* Project Description Section */
#project-description {
    padding: 80px 0;
    background-color: #282828;
    border-bottom: 1px solid #333;
}

#project-description h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

#project-description p {
    font-size: 1.2em;
    color: #ccc;
    text-align: justify;
}

#project-description ul {
    list-style-type: none;
    padding: 0;
}

#project-description ul li {
    margin: 10px 0;
}

#project-description a {
    color: #a7d0ff;
    text-decoration: none;
}

#project-description a:hover {
    color: #76b8e7;
}

/* Flexbox for content */
#project-description .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#project-description .text {
    flex: 1;
    text-align: left;
}

#project-description .image-container {
    flex: 1;
    text-align: center;
}

/* Ensure the images are responsive and fit the width of the window */
#project-description img {
    max-width: 100%; /* Makes image width responsive */
    height: auto;   /* Maintains the aspect ratio */
    margin-top: 20px;
    border-radius: 8px;
}

/* Footer Styling */
footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    color: #aaa;
}

footer p {
    font-size: 1em;
}

/* Footer Links Styling */
footer a {
    color: #a7d0ff; /* Default link color */
    text-decoration: none;
    margin: 0 10px;
    font-size: 3em; /* Increased font size */
}

footer a:hover {
    color: #76b8e7; /* Change color on hover */
    font-size: 3.1em; /* Slightly larger font on hover */
}

/* For mobile responsiveness */
@media (max-width: 768px) {
    #project-description .content {
        flex-direction: column;
        text-align: center;
    }

    #project-description .text {
        text-align: center;
    }

    #project-description .image-container {
        margin-top: 20px;
    }

    #project-description img {
        max-width: 100%; /* Ensure the image fits within the viewport */
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.2em;
    }

    #project-description h2 {
        font-size: 2em;
    }

    #project-description p {
        font-size: 1em;
    }
}
